body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(29 84 160);
    padding: 18px;
    border-radius: 12px;
}

.login-form {
    text-align: center;
}
.container {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

