<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Login</title>-->
<!--    <link rel="stylesheet" href="/static/styleLogin.css">-->
<!--    <style>-->
<!--        body {-->
<!--            background-image: url("/static/background_login.jpg");-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="login-form">-->
<!--        <h2>Login</h2>-->
<!--        <form id="loginForm">-->
<!--            <label for="username">Username:</label>-->
<!--            <input type="text" id="username" name="username" required><br>-->
<!--            <label for="password">Password:</label>-->
<!--            <input type="password" id="password" name="password" required><br>-->
<!--            <button type="button" onclick="login()">Login</button>-->
<!--        </form>-->
<!--        <p>Don't have an account? <a href="/templates/register.html">Register here</a>.</p>-->
<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    async function login() {-->
<!--        const form = document.getElementById('loginForm');-->
<!--        const formData = new FormData(form);-->

<!--        const loginRequest = {-->
<!--            username: formData.get('username'),-->
<!--            password: formData.get('password')-->
<!--        };-->

<!--        const response = await fetch('http://localhost:6060/api/login', {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            body: JSON.stringify(loginRequest)-->
<!--        });-->

<!--        if (response.ok) {-->
<!--            const data = await response.json();-->
<!--            document.cookie = `jwt=${data.jwt}; path=/`;-->
<!--            alert('Login successful!');-->
<!--            window.location.href = 'index.html';-->
<!--        } else {-->
<!--            alert('Invalid username or password');-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
